.search-container {

    background-color: var(--inverse-usuall-text-color);
    color: var(--usuall-text-color);

}
.search {

    padding: 20px 0;
    display: block;

    text-align: center;

}